.header {
    height: 65px;
    /*background-color: #00aaff; !* 기존 톤에 맞게 *!*/
    display: flex;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
    position: relative;
}
.header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-switch-btns {
    display: flex;
    align-items: center;
    gap: 60px; /* 원하는 만큼 조절: 예시로 18px */
    background-color: white;
}


:root {
    --btn-bg: #007bff; /* 파란색 배경 예시 */
}


.bell-icon {
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: transform 0.2s;
}

.bell-icon:hover {
    transform: scale(1.2);
}
/* 로고 텍스트 */
.logo {
    font-size: 20px;
    font-weight: bold;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-img {
    height: 40px; /* 헤더 높이(60px) 안에 자연스럽게 맞게 */
}

/* 우측 메뉴 */
.user-menu {
    position: relative;
    cursor: pointer;
}

.user-icon {
    font-size: 22px;
}

.bell-wrapper {
    position: relative;
    display: inline-block;
}

.btn-switch {
    background-color: white; /* 원하는 색상으로 수정 */
    color: #222;
    border: none;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
}

.btn-switch::before, .btn-switch::after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--btn-bg);
    opacity: 0;
    transform: scaleX(0);
    transition: 0.4s ease-in-out;
}
.btn-switch::before {
    top: 0;
}
.btn-switch::after {
    bottom: 0;
}
.btn-switch:hover {
    letter-spacing: 5px;
    color: var(--btn-bg);
    background: transparent;
}

/*.btn-switch:hover::before, .btn-switch:hover::after {*/
/*    opacity: 1;*/
/*    transform: scaleX(1.2);*/
/*}*/

/* 드롭다운 메뉴 */
.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    color: black;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    overflow: hidden;
    display: none;
    flex-direction: column;
    min-width: 120px;
}

.dropdown a {
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown a:hover {
    background-color: #f0f0f0;
}

/* 아이콘 클릭 시 메뉴 토글 */
.user-menu:hover .dropdown {
    display: flex;
}